<mat-table [dataSource]="dataSource" matSort >
    <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header >date</mat-header-cell>
        <mat-cell *matCellDef="let element" >{{element.date|date  }}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header  >name</mat-header-cell>
        <mat-cell *matCellDef="let element" >{{ element.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef  mat-sort-header >Duration</mat-header-cell>
        <mat-cell *matCellDef="let element" >{{element.duration }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="calories">
        <mat-header-cell *matHeaderCellDef >calories</mat-header-cell>
        <mat-cell *matCellDef="let element" >{{element.calories | number}}</mat-cell>
    </ng-container>


   
   
   
   


    <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef >state</mat-header-cell>
        <mat-cell *matCellDef="let element" >{{element.state }}</mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row;columns:displayedColumns;"></mat-row>
</mat-table>