<section class="new-training" fxLayout fxLayoutAlign="center">

<form  (ngSubmit)="onstartTraining(f)" #f="ngForm">


    <mat-card fxFlex.xs="100%" fxFlex="400px">
    <mat-card-title fxLayoutAlign="center">Time to start a workout </mat-card-title>
    <mat-card-content>
  
<mat-form-field fxLayoutAlign="center">
   <mat-select ngModel  placeholder="choose exercise" name="exercise" required >
       <mat-option *ngFor="let exercise of excercises  " [value]="exercise.name">{{exercise.name}}</mat-option>
      
      
   </mat-select>
</mat-form-field>


    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
        <button type="submit" mat-button [disabled]="f.invalid" >start</button>
    </mat-card-actions>
</mat-card>
</form>
</section>