<section class="current-training" fxLayout="column" fxLayoutAlign="center center"> 

    <mat-progress-spinner mode="indeterminate" [value]="progress">


    </mat-progress-spinner>
    <h1>{{progress}}%</h1>
<p>kepp on going,you can do it!</p>
<button mat-raised-button color="accent" (click)="onStop()">Stop</button>
</section>