<section class="signup-form">
  <form
    fxLayoutAlign="center center"
    fxLayoutGap="10px"

    fxLayout="column"
    #f="ngForm"
    (ngSubmit)="onSubmit(f)"
  >
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="your email"
        ngModel
        name="email"
        email
        required
        #emailInput="ngModel"
      />
      <mat-error *ngIf="emailInput.hasError('required')">email required</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="should be at least 6 characters "> 
      <input
        type="password"
        matInput
        placeholder="your password"
        ngModel
        name="password"
        required
        minlength="6"
        #pwInput= "ngModel"
      />
 <mat-hint align="end"> {{pwInput.value?.length}}/6</mat-hint>
    </mat-form-field>

    <mat-form-field>
<input    ngModel name="birthdate" matInput placeholder="your birth day" [matDatepicker]="picker">
<mat-datepicker-toggle matSuffix [for]="picker"
></mat-datepicker-toggle>
<mat-datepicker #picker
 required>
</mat-datepicker>
    </mat-form-field>


    <mat-checkbox  ngModel name="agre" required>Agree to Terms and conditions.</mat-checkbox>

    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
  </form>
</section>
