<mat-tab-group *ngIf="!ongoingTrainging" >
    <mat-tab label="New Exercise ">
        <app-new-training ></app-new-training>
    </mat-tab>
    <mat-tab label="Past Exercises"> 
        <app-past-training>

        </app-past-training> 
    </mat-tab>
</mat-tab-group>
<app-current-training *ngIf="ongoingTrainging"></app-current-training>