<h1 mat-dialog-title> Are you sure?</h1>
<mat-dialog-content>
    <p>You are already got {{passedData.progress}}%</p>
</mat-dialog-content>
<mat-dialog-actions>

    <button mat-button [mat-dialog-close]="true">Yes</button>
    <button mat-button [mat-dialog-close]="false"> No</button>
</mat-dialog-actions>